body>p:nth-child(1){color: red;}

[tabindex="1"]:focus{
  color:blue ;
}
[tabindex="1"]:hover{
  color: red;
}
[tabindex="1"]:active{
  color: green;
}

p.a>span{
  color: red;
}

p.a>span>span{
  color: green;
}

p.a>span>span:nth-child(2){
  color: blue;
}

a:visited{
  color: orange;
}

a:link{
  color: pink;
}

a[href^="mailto"i] {
  color: blue;
}
a[href^="tel"]{
  color: yellow;
}
a[href$="pdf"i]{
  font-size: 30px;
}

div.a>ul>li:nth-child(4){
  color: red;
}
div.a>ul>li:nth-child(5){
  color: red;
}
div.a>ul>li:nth-child(6){
  color: red;
}
div.a>ul>li:nth-child(7){
  color: red;
}
div.b>ul>li:nth-child(n):not(:nth-child(25)~li){
  color: red;
}
div.b>ul>li:nth-child(n+35):not(:nth-child(50)~li){
  color: blue;
}

div.b>ul>li:nth-child(64)~li{
  color:green;
}

div.prime li:nth-child(1)~li:not(:nth-child(2n+4),:nth-child(3n+6),:nth-child(4n+8),:nth-child(5n+10)){
  color: blue;
}

div.prime li:nth-child(2n+4),
div.prime li:nth-child(3n+6),
div.prime li:nth-child(4n+8),
div.prime li:nth-child(5n+10)
{
  color: red;
}
