body>*{
  display: inline-block;
}
body{
  min-width: 800px;
  margin: 0px;
  font-size: 0px;
}
span{
  box-sizing: border-box;
  height: 100vh;
  border: 2px solid;
}
.s1,.s4,.s3{
  background-color: pink;
  width: 200px;
  font-size: 18px;
  vertical-align: top;
}
h2{
  margin: 0px;
  height: 60px;
  text-align: center;
  line-height: 60px;
}
input{
  width: 120px;
  height: 30px;
  vertical-align: bottom;
  font-size: 20px;
  box-sizing: border-box;
}
button{
  height: 26px;
  width: 40px;
}
ul{
  margin: 0px;
  margin-top: 10px;
  height: calc(100vh - 102px );
  overflow: auto;
  text-align: center;
  padding: 0px;
}
a{
  text-decoration: none;
  color: blue;
}

.s2>p{
  height: 60px;
  margin: 0;
  padding-left: 20px;
  line-height: 60px;
}
.s2{
  background-color: bisque;
  width: calc(100% - 600px);
  height:100vh;
  font-size: 25px;
  overflow: auto;
}
.s2>span{
  border: 0px;
}
ol{
  font-size: 20px;
}
.s3,.s4{
  font-size: 25px;
  padding:20px 0 0 10px;
}
