body{
  margin: 0px;
  font-size: 0px;
}
div{
  height: 100px;
  background-color: aquamarine;
}
span{
  display: inline-block;
  height: calc(100vh - 100px);
  overflow: auto;
  font-size: 18px;
}
 span:nth-child(2){
  width: 150px;
  background-color: coral;
}
span:nth-child(3){
  width: calc(100% - 150px);
  background-color: darkgreen;

}
