body{
  height: 100vh;
  margin: 0px;
  min-width:800px;
}
body *{
  margin: 0px;
  box-sizing: border-box;
}
.zuo,.you1,.you2{
  width: 200px;
  background-color: rgb(255,192,203);
  border: 2px solid;
  height: 100%;
}
.zuo>p{
  font-size: 25px;
  font-weight: bold;
  height: 60px;
  line-height: 60px;
  text-align:center;
}
 input{
  height: 35px;
  width: 145px;

}
button{
  box-sizing: content-box;
  height: 15px;
  width: 30px;
  padding-bottom: 5px;

}

.zuo1{
  margin-top: 10px;
  overflow-y: scroll;
  height: calc(100% - 105px);
  text-align: center;
}
.zuo1>a{
text-decoration: none;
color: blue;
}
.zhong{
  background-color:rgb(255,248,220);
  width: calc(100% - 200px*3);
  height: 100vh;
  margin-left: 200px;
  margin-top: -100vh;
  border: 2px solid;
}
.zhong2 > p {
  height: 60px;
  line-height: 60px;
  margin-left: 10px;
}
.zhong1{
  box-sizing: border-box;
  border-bottom: 2px solid;
  width: 100%;
  height:60px;
}
.zhong1>p{
  font-size: 25px;
  line-height: 60px;
  font-weight: bold;
  margin-left: 15px;
}
.zhong2{
  overflow-y: scroll;
  height: calc(100% - 60px);
  min-width: 200px;
}
.you1{
  margin-left:calc(200px + (100% - 200px*3));
  margin-top: -100vh;
}
.you2{
  margin-left:calc(400px + (100% - 200px*3));
  margin-top: -100vh;
}
.you1>p , .you2>p{
  font-size: 25px;
  font-weight:bold;
  height: 60px;
  line-height: 60px;
  text-align: right;
  margin-right: 10px;
}
