body{
  background-color: rgb(30,30,30);
  color: rgb(255, 255, 255);
}
div{
  width: 290px;
  margin: 0px;
  position: relative;
  display: inline-block;
}
 div>*{
  width: 300px;
}

.d1{
  width: 80px;
  border-radius: 5px;

}
.d1>span{
  display: inline-block;
  text-align: center;
  width: 80px;
}
.d1:hover{
  background-color: rgb(60,60,60);
}


ul{
  list-style: none;
  position: absolute;
  margin: 0;
  padding: 0;
  width: 300px;
  top: 100%;
  left:0;
  background-color:rgb(37,37,38);
  display: none;
  white-space: nowrap;
  border-radius: 5px;
}
div:hover{
  background-color: rgb(131, 127, 127);
}
div:hover > ul{
  display: block;
}
li>div:hover{
  background-color: rgb(62,156,214);
}
li:hover{
  background-color: rgb(62,156,214);
}
.u2{
  left: 100%;
  top:0;
}
li{
  position:relative;
  padding-left: 10px;
  width: 290px;
}
 li>span{
  display: inline-block;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 10px;
}

hr{
  margin-left: -10px;
}
