html,body,div{
  margin: 0;
  padding: 0;
  height: 100%;
}
div{
  float: left;
  box-sizing: border-box;
  border: 2px solid ;
}
div:nth-child(1),
div:nth-child(3),
div:nth-child(4){
  width: 200px;
  background-color: pink;
}
div:nth-child(2){
  width: calc(100% - 600px);
  background-color: rgb(253,226,195);
}
p{
  margin: 0px;
  height: 70px;
  font-size: 30px;
  line-height: 70px;
}
div:nth-child(1) input{
  width: 150px;
  height: 30px;
  box-sizing: border-box;
}
div:nth-child(1) button{
  width: 30px;
  height: 28px;
}
ul{
  margin: 0;
height: calc(100% - 100px);
overflow: auto;
}
div:nth-child(2) p{
  border-bottom: 2px solid;
  box-sizing: border-box;
}
ol{
  margin: 0;
  height: calc(100% - 70px);
  overflow: auto;
}
